In [1]:
import pandas as pd
import openpyxl
import os

In [2]:
pv_data_path = "D:\DOWNLOADED\Fotowoltaika"

In [3]:
excel_files = os.listdir(pv_data_path)
pv_dfs = list()
for file in excel_files:
    filepath = os.path.join(pv_data_path, file)
    if "xlsx" not in filepath:
        continue
    df = pd.read_excel(filepath, engine="openpyxl")
    pv_dfs.append(df)

pv_data = pd.concat(pv_dfs)
pv_data = pv_data.rename(columns={' Wartość kWh': 'kWh'})

In [4]:
def replace_24_to_00(df):
    df['Data'] = df['Data'].str.replace('24:00', '00:00')
    return df

pv_data = replace_24_to_00(pv_data.copy())
pv_data['Data'] = pd.to_datetime(pv_data['Data'])
pv_data['month'] = pv_data['Data'].dt.month
pv_data['year'] = pv_data['Data'].dt.year
print(pv_data)

                   Data    kWh   Rodzaj  month  year
0   2022-03-01 01:00:00  0.051    pobór      3  2022
1   2022-03-01 02:00:00  0.049    pobór      3  2022
2   2022-03-01 03:00:00  0.052    pobór      3  2022
3   2022-03-01 04:00:00  0.049    pobór      3  2022
4   2022-03-01 05:00:00  0.052    pobór      3  2022
..                  ...    ...      ...    ...   ...
763 2024-01-25 20:00:00  0.000  oddanie      1  2024
764 2024-01-25 21:00:00  0.000  oddanie      1  2024
765 2024-01-25 22:00:00  0.000  oddanie      1  2024
766 2024-01-25 23:00:00  0.000  oddanie      1  2024
767 2024-01-25 00:00:00  0.000  oddanie      1  2024

[34420 rows x 5 columns]

In [5]:
pobor_df = pv_data[pv_data["Rodzaj"] == "pobór"]
pobor_df_yearly_sum = pobor_df.groupby('year')['kWh'].sum()
pobor_df_yearly_sum

year
2022     861.575
2023    2455.594
2024     347.291
Name: kWh, dtype: float64

In [6]:
pobor_df_2022 = pobor_df[pobor_df['year'] == 2023]
pobor_df_2022_monthly_sum = pobor_df_2022.groupby('month')['kWh'].sum()
pobor_df_2022_monthly_sum

month
3      23.594
4      16.866
5      11.777
6      21.193
7      14.311
8      18.456
9      14.093
10    107.647
11    257.943
12    375.695
Name: kWh, dtype: float64

In [7]:
pobor_df_2023 = pobor_df[pobor_df['year'] == 2023]
pobor_df_2023_monthly_sum = pobor_df_2023.groupby('month')['kWh'].sum()
pobor_df_2023_monthly_sum

month
1     309.485
2     302.206
3     233.545
4      93.582
5      20.985
6      27.920
7      56.699
8     131.916
9     114.022
10    274.981
11    390.275
12    499.978
Name: kWh, dtype: float64

In [59]:
oddanie_df = pv_data[pv_data["Rodzaj"] == "oddanie"]
oddanie_df_yearly_sum = oddanie_df.groupby('year')['kWh'].sum()
oddanie_df_yearly_sum

year
2022    4409.270
2023    4490.477
2024      17.058
Name: kWh, dtype: float64

In [61]:
oddanie_df_2022 = oddanie_df[oddanie_df['year'] == 2022]
oddanie_df_2022_monthly_sum = oddanie_df_2022.groupby('month')['kWh'].sum()
oddanie_df_2022_monthly_sum

month
3       0.009
4     515.787
5     488.528
6     831.885
7     812.418
8     747.712
9     488.150
10    381.849
11    111.230
12     31.702
Name: kWh, dtype: float64

In [62]:
# Create a new DataFrame
oddanie_df_2022_cumulative = pd.DataFrame(oddanie_df_2022_monthly_sum)

# Add a new column with cumulative results
oddanie_df_2022_cumulative['cumulative'] = oddanie_df_2022_cumulative['kWh'].cumsum()
oddanie_df_2022_cumulative

           kWh  cumulative
month
3        0.009       0.009
4      515.787     515.796
5      488.528    1004.324
6      831.885    1836.209
7      812.418    2648.627
8      747.712    3396.339
9      488.150    3884.489
10     381.849    4266.338
11     111.230    4377.568
12      31.702    4409.270

In [63]:
oddanie_df_2023 = oddanie_df[oddanie_df['year'] == 2023]
oddanie_df_2023_monthly_sum = oddanie_df_2023.groupby('month')['kWh'].sum()
oddanie_df_2023_monthly_sum

month
1      53.830
2     150.710
3     280.862
4     416.940
5     648.120
6     715.579
7     725.265
8     531.383
9     574.081
10    290.543
11     73.422
12     29.742
Name: kWh, dtype: float64

In [64]:
# Create a new DataFrame
oddanie_df_2023_cumulative = pd.DataFrame(oddanie_df_2023_monthly_sum )

# Add a new column with cumulative results
oddanie_df_2023_cumulative['cumulative'] = oddanie_df_2023_cumulative['kWh'].cumsum()
oddanie_df_2023_cumulative

           kWh  cumulative
month
1       53.830      53.830
2      150.710     204.540
3      280.862     485.402
4      416.940     902.342
5      648.120    1550.462
6      715.579    2266.041
7      725.265    2991.306
8      531.383    3522.689
9      574.081    4096.770
10     290.543    4387.313
11      73.422    4460.735
12      29.742    4490.477

In [65]:

# Create a new DataFrame
pobor_df_2022_cumulative = pd.DataFrame(pobor_df_2022_monthly_sum)

# Add a new column with cumulative results
pobor_df_2022_cumulative['cumulative'] = pobor_df_2022_cumulative['kWh'].cumsum()
pobor_df_2022_cumulative

           kWh  cumulative
month
3       23.594      23.594
4       16.866      40.460
5       11.777      52.237
6       21.193      73.430
7       14.311      87.741
8       18.456     106.197
9       14.093     120.290
10     107.647     227.937
11     257.943     485.880
12     375.695     861.575

In [66]:
# Create a new DataFrame
pobor_df_2023_cumulative = pd.DataFrame(pobor_df_2023_monthly_sum)

# Add a new column with cumulative results
pobor_df_2023_cumulative['cumulative'] = pobor_df_2023_cumulative['kWh'].cumsum()
pobor_df_2023_cumulative

           kWh  cumulative
month
1      309.485     309.485
2      302.206     611.691
3      233.545     845.236
4       93.582     938.818
5       20.985     959.803
6       27.920     987.723
7       56.699    1044.422
8      131.916    1176.338
9      114.022    1290.360
10     274.981    1565.341
11     390.275    1955.616
12     499.978    2455.594

In [67]:
oddanie_df["kWh"].sum()

8916.804999999998

In [68]:
pobor_df["kWh"].sum()

3664.4599999999996

In [69]:
oddanie_df["Data"].min()

Timestamp('2022-03-01 00:00:00')

In [70]:
oddanie_df["Data"].max()

Timestamp('2024-01-25 23:00:00')

In [71]:
date_min = '2023-01-01 00:00:00'
date_max = '2024-01-01 00:00:00'
filtered = oddanie_df[oddanie_df['Data'].between(date_min, date_max)]
filtered['kWh'].sum()

4490.477

In [72]:
date_min = '2023-01-28 00:00:00'
date_max = '2024-01-28 00:00:00'
filtered = pobor_df[pobor_df['Data'].between(date_min, date_max)]
filtered['kWh'].sum()

2539.4300000000003

In [73]:
date_min = '2022-09-01 00:00:00'
date_max = '2022-09-30 00:00:00'
filtered = oddanie_df[oddanie_df['Data'].between(date_min, date_max)]
filtered['kWh'].sum()

485.538